<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlackBoxControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BlackBoxControl.ThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BlackBoxControl.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BlackBoxControl.DefaultT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <BlackBoxControl.Properties.Settings>
            <setting name="DefaultTheme" serializeAs="String">
                <value>GreenTheme.xaml</value>
            </setting>
        </BlackBoxControl.Properties.Settings>
        <BlackBoxControl.ThemeSettings>
            <setting name="DefaultTheme" serializeAs="String">
                <value>GreenTheme.xaml</value>
            </setting>
        </BlackBoxControl.ThemeSettings>
        <BlackBoxControl.Default>
            <setting name="DefaultTheme" serializeAs="String">
                <value>GreenTheme.xaml</value>
            </setting>
        </BlackBoxControl.Default>
        <BlackBoxControl.DefaultT>
            <setting name="Setting" serializeAs="String">
                <value>GreenTheme.xaml</value>
            </setting>
        </BlackBoxControl.DefaultT>
    </userSettings>
</configuration>
